

h1{
  font-family: 'Poppins', sans-serif;
}

  .redes{
    padding: 12px;
    text-decoration: none;
}

  .header {
    background-color: #ffffff;
    color: #5a5a4b;
    padding: 2px;
    text-align: center;
  }

  .menu {
    margin: 0px;
    padding: 5px;
    float:none;
    background-color: #5a5a4b;
    text-align: right;
    font-family: 'Poppins', sans-serif;
  }
  
  .menu a {
    padding: 8px;
    margin: 15px;
    text-decoration: none;
    background-color: #5a5a4b;
    color: #dfe6a3;
    border-radius:10px;     
  }
  
  .menu a:hover {
    background-color: #5f5e58;
  }
  

footer {text-align: center;}


/*SLIDER*/

.slider{
  width: 60%;
  height: 0%;
  overflow:hidden;
}

.slider ul{
  display: flex;
  animation: cambio 10s infinite alternate ;
  width: 390%;
}
.slider li{
  width: 100%;
  list-style: none;
  padding: 40px;
}
.slider img{
  width: 100%;
  height: 100%;
}
@keyframes cambio{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

/*CUADRO DE REDES*/

.redescuadro{
  background-color:#dfe6a3;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-left: 65%;
  margin-top: -25%;

  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  max-height: 200px;
}

.mapacuadro{
  font-family: 'Poppins', sans-serif;
  text-align: left;
}




/*responsive,,,,PONELE*/

head{
 
}

nav{
  padding: 10px;
  margin: px;
  border-style: none
}

body{
  padding: 0px;
  margin: 0px;
  
}

header{

}

main {
 
}

footer {
  padding: 10px;
  margin-top: 110px;
}

/*TURNOS*/
/*FORMULARIO*/

.formulario{
  background-color:#dfe6a3;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 350px;
  

  max-width: 300px;
  min-width: 300px;
  min-height: 600px;
  max-height: 600px;

}

.boton-enviar{
  padding: 8px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: grey;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif
}
.boton-enviar:hover{
  background-color: #e7b293;
}
.boton-borrar{
    padding: 8px;
    font-weight: bold;
    border: none;
    color: #ffffff;
    background-color: grey;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif
  }

  .boton-borrar:hover{
    background-color: #e7b293;
  }

  label{
    font-family: 'Poppins', sans-serif
  }
.gatito{
  margin-left: 50%;
  margin-bottom: -70%;
}
