*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

/*Maquetado de index.html*/

header, .menu, #index-main, .aside-redes, footer, #turnos-main, #turnos-aside{
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-grid{
  display: grid;
  grid-template-areas:  ' header header'
                        ' barra barra'
                        ' index-main aside-redes'
                        'footer footer';
  grid-template-columns: 65% auto;
  grid-template-rows: 100px auto auto auto;
  gap: 0 20px;
}

header{
  grid-area: header;
  color: #5a5a4b;
  padding: 2px;
}

.menu {
  grid-area: barra;
  justify-content: right;
  float:none;
  background-color: #5a5a4b;
  text-align: right;
}

#index-main{ grid-area: index-main;}
.aside-redes{ grid-area: aside-redes;}
footer{ grid-area: footer;}

@media only screen and (max-width: 980px) {
  #index-grid{
    grid-template-areas:  'header'
                          'barra'
                          'index-main'
                          'aside-redes'
                          'footer';
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto auto;
  }

  .aside-redes{
    margin: 20px 0 20px;
  }

  .mapacuadro iframe{
    width: 100%;
  }

  .menu {
    justify-content: center;
  }
}

/*Maquetado de Turnos.html*/

#turnos-grid{
  display: grid;
  grid-template-areas:  'header header header'
                        'barra barra barra'
                        'turnos-main turnos-aside aside-redes'
                        'footer footer footer';
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 100px auto auto auto;
  gap: 0 20px;
}

#turnos-aside{
  grid-area: turnos-aside;

}
#turnos-main{ grid-area: turnos-main;
  margin: 30px 0;
}

@media only screen and (max-width: 980px) {
  #turnos-grid{
    grid-template-areas:  'header header'
                          'barra barra'
                          'turnos-main turnos-aside'
                          'aside-redes aside-redes'
                          'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto auto auto auto;
  }
}

@media only screen and (max-width: 600px) {
  #turnos-grid{
    grid-template-areas:  'header'
                          'barra'
                          'turnos-main'
                          'aside-redes'
                          'turnos-aside'
                          'footer ';
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto auto auto;
  }
}

/*Maquetado de adopcion.html*/

#adopcion-main{ grid-area: adopcion-main;
  margin-right: 20px;
}

#adopcion-grid{
  display: grid;
  grid-template-areas:  'header'
                        'barra'
                        'adopcion-main'
                        'footer';
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto auto;
}

/*Maquetado de PetShop.html*/

#pet-grid{
  display: grid;
  grid-template-areas:  'header'
                        'barra'
                        'pet-main'
                        'footer';
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto auto;
}

#pet-main{ grid-area: pet-main;
}
  
.menu a {
  background-color: #5a5a4b;
  color: #dfe6a3;
  border-radius:10px;
  margin: 15px;
  padding: 8px;
}
  
.menu a:hover {
  background-color: #5f5e58;
}

  /*SLIDER*/

  .slider{
    overflow: hidden;
  }

  .slider ul{
    display: flex;
    animation: cambio 10s infinite alternate ;
    width: 400%;
  }
  .slider li{
    width: 100%;
    list-style: none;
  }
  .slider img{
    width: 100%;
    height: 100%;
  }
  @keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
  }

/*CUADRO DE REDES*/

.redescuadro{
  background-color:#dfe6a3;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.redescuadro > *{
  margin: 20px;
}

#aside a, aside p{
  padding: 10px;
  font-size: 18px;
}

.mapacuadro{
  padding: 20px;
  background-color: #5a5a4b;
  color: #dfe6a3;
  width: 100%;
text-align: center;
}

/*TURNOS*/

/*FORMULARIO*/

.formulario{
  background-color:#dfe6a3;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  height: 450px;
  width: 290px;
}

.boton{
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: grey;
  border-radius: 50px;
  cursor: pointer;
}

.boton:hover{
  background-color: #e7b293;
}

.formulario h2 {
  margin: 20px 15px;
}

.formulario input {
  margin: 15px 5px;
  width: 60%;
}

/*ADOPCION*/

#adopcion-texto {
  margin: 40px;
}

.contenedor{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
  row-gap: .5rem;
  justify-content: center;
  align-content: center;
}

.mascota{
  width: 93%;
  margin: 20px;
  border-radius: 50px;
  overflow: hidden;
  background: rgb(245, 244, 241);
  cursor: default;
  transition: all 400ms ease;
}

.mascota:hover {
  transform: translateY(-6%);
}

.mascota img { 
  max-width: 100%;
  height: auto;
}

.mascota .contenido { 
  padding: 15px;
  text-align:left;
}

.mascota .contenido p { 
  line-height: 1.5;
  color: black;
}

.mascota .contenido > h3 {
  margin-bottom: 10px;
  background-color: rgb(209, 189, 145);
}


@media screen and (max-width:700px) { 
  .contenedor { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:768px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr)
  }
} 

@media screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*Pet Shop*/

/*Filtros*/
.filtros {
  margin-top: 30px ;
  width: 247px;
}
.contenedorfiltro {
  margin-top: 180px;
  margin-left: 20px;
  width: 18%;
  max-width: 75em;
}
.category_list{
  margin-bottom:20px;
}
.category-item {
  text-decoration: none;
  color: black;
}
/*Filtros*/

.todoslosproductos {
  font-size: 25px;
  font-weight: bold;
  color: black;
  display:flex;
  margin-left: 350px;
  margin-top: -360px;
}

/*Sección de artículos*/
.product-item {
  width: 232px;
  height: 392px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #908989;
  right: 328px;
  top: 511px;
  display: block;
  float:left;
  flex-direction: row;
  margin: 7px;
}
.secciónalimentos div{
  text-align: center;
}
.marca {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}

.cajadescripción {
  width: 220px;
  height: 46px;
  margin: 7px;
}
.cajaprecio {
  width: 220px;
  height: 10px;
  margin: 2px;
  padding: 1px;
}
.btn-center {
  margin-top: 20px;
}
.disponibilidad {
  font-size: 14px;
}
.descripcion {
  font-size: 14px;
  color: black;
}
.precio {
  margin-left: 160px;
  font-size: 13px;
}
.filtro {
  top: 20px;
  font-family: none;
  font-weight: 100;
}
.secciónalimentos {
  flex-direction: row;
  width: auto;
  margin-left: 350px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: .6rem;
  row-gap: .6rem;
  align-content: center;
  flex-direction: column;
  float:none;
}
.secciónalimentos .contenedora {
  text-align: justify;
}
.secciónalimentos .contenedorb {
  text-align: justify;
}
.filtroP {
  font-size: 18px;
  font-weight: bold;
  text-decoration:none;
  color: black;
  border-bottom: 2px black solid;
  margin-bottom: 10px;
}
.category_list {
  display: flex;
  flex-direction: column;
}
.marcas {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 1024px) {
  .secciónalimentos {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*Sección de artículos*/

/* Carrusel Pet */

/* .carruselpet {
  box-shadow: 2px 2px 2px 2px #e2e2e2;
  width: auto;
  height: 532px;
  overflow: hidden;

}
.carruselpet ul {
  display: flex;
  width: 200%;
  animation: carrusel 10s infinite;
  animation-timing-function: ease-out linear;

}
.carruselpet li {
  width: 100%;
  list-style: none;
}


@keyframes carrusel {
  0% {margin-left: 0;}
  40% { margin-left: 0%;}

  60% { margin-left: -100%;}
  100% { margin-left: -100%;}
} */
/*Carrusel Pet*/



.form-control.success input{
  border-color: #2ecc71;
}

.form-control.error input{
  border-color: #e74c3c;
}

.form-control.init input{
  border-color: inherit;
}